body {
    font-family: Calibri;
    background-color: rgba(234,242,250,1.0000000000);
}

.cost-section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    padding-top: 15px;
}

.cost-section h3 {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}


.vm-card-title {
    text-align: center;
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
}

.vm-card-title h5 {
    margin: 0.5em;
}

.piece-cost {
    font-weight: 500!important;
}

#bottomLine {
    font-weight: 500!important;
}

.bg-transparent{
    border: none!important;
    background-color: none!important;
}

.form-group {
    border-radius: 0;
    margin-bottom: 0px!important;
}

.card-header {
    font-size: 1.325rem;
}

.border-primary {
    animation: pulse 0.5s alternate 2;
}

@keyframes pulse {
  from { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); }
  to { box-shadow: 0px 0px 8px 0px #007bff; }
}


table {
    font-weight: normal;
}